extends layout

block content
  .container.mt-5
    h2 Cadastro de Usuário
    form(action="/inserir_usuario", method="post")
      // Campos do formulário
      .mb-3
        label(for="nome", class="form-label") Nome
        input(type="text", class="form-control", id="nome", name="nome", required)
      .mb-3
        label(for="categoria", class="form-label") Senha
        input(type="password", class="form-control", id="senha", name="senha", required)
      .mb-3
        label(for="preco", class="form-label") Email
        input(type="email", step="0.01", class="form-control", id="email", name="email", required)
      .mb-3
        label(for="url_da_imagem", class="form-label") URL da Imagem
        input(type="text", class="form-control", id="url_da_imagem", name="url_da_imagem", required)

      // Botão de envio
      button.btn.btn-primary(type="submit") Cadastrar-se
