nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='/') <img src="https://img.freepik.com/vetores-gratis/modelo-de-logotipo-de-amigos_23-2149505594.jpg?w=740&t=st=1706219378~exp=1706219978~hmac=fa28efb7722622c8a80675e226c3f765bd2f31bfa73aa18a719e3f10c59d0859" width="30" height="30" class="d-inline-block align-top" alt=""> Lojinha
    
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNavAltMarkup
      .navbar-nav
        a.nav-link.active(aria-current='page', href='/') Home
        a.nav-link(href='/listar') Produtos
        a.nav-link(href='/login') Login
