<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initi
al-scale=1.0">
 <title>Aula 4</title>
</head>
<body>
 <h1> Hi, Lorena! </h1>
</body>
</html>