<div class="container">
    <h2>Cadastro de Clientes</h2>
    <form action="/log" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" step="0.01" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
      </div>
      <div class="mb-3">
        <!-- Botão de envio -->
        <button class="btn btn-primary" type="submit">Fazer login</button>
      </div>
    </form>
  </div>